spring:
  application:
    name: analyzer

  datasource:
    url: jdbc:postgresql://localhost:5432/hub_router  # или 5433
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update  # или create-drop для тестов
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

grpc:
  client:
    hub-router:
      address: 'static://localhost:59090'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext

analyzer:
  kafka:
    consumer:
      hub:
        bootstrap-servers: localhost:9092
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer  # ← ПРОСТОЙ
        group-id: events.analyzer
        enable-auto-commit: false
      snapshot:
        bootstrap-servers: localhost:9092
        group-id: snapshot.analyzer
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer  # ← ПРОСТОЙ
        enable-auto-commit: false