spring:
  application:
    name: analyzer

  datasource:
    url: jdbc:postgresql://localhost:5432/hub_router  # Или smart_home - должно совпадать с schema.sql
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate  # или none - если хотите только валидацию
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: always  # всегда выполнять init скрипты
      schema-locations: classpath:schema.sql
      continue-on-error: true