spring:
  application:
    name: analyzer

  datasource:
    url: jdbc:postgresql://localhost:5433/hub_router
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

grpc:
  client:
    hub-router:
      address: 'static://localhost:59090'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext

analyzer:
  kafka:
    consumer:
      hub:
        bootstrap-server: localhost:9092
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: ru.yandex.practicum.telemetry.analyzer.deserializer.HubEventDeserializer
        group-id: events.analyzer
        enable-auto-commit: false
        time-out: 1000
      snapshot:
        bootstrap-server: localhost:9092
        group-id: snapshot.analyzer
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: ru.yandex.practicum.telemetry.analyzer.deserializer.SensorsSnapshotDeserializer
        enable-auto-commit: false
        time-out: 500
    topics:
      hub-events: telemetry.hubs.v1
      snapshots-events: telemetry.snapshots.v1

logging:
  level:
    ru.yandex.practicum.telemetry.analyzer: DEBUG
    ru.yandex.practicum.telemetry.analyzer.service: DEBUG
    ru.yandex.practicum.telemetry.analyzer.processor: DEBUG
    org.springframework.transaction: TRACE
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE