spring:
  application:
    name: analyzer

  datasource:
    url: jdbc:postgresql://localhost:5432/hub_router
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false  # временно отключите для чистоты логов

analyzer:
  kafka:
    topics:
      hub-events: telemetry.hubs.v1
      snapshots-events: telemetry.snapshots.v1

    consumer:
      hub:
        bootstrap-server: localhost:9092
        group-id: events.analyzer
        enable-auto-commit: false
        auto-offset-reset: earliest
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer
      snapshot:
        bootstrap-server: localhost:9092
        group-id: snapshot.analyzer
        enable-auto-commit: false
        auto-offset-reset: earliest
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer

grpc:
  client:
    hub-router:
      address: 'static://localhost:59090'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext

logging:
  level:
    root: INFO
    ru.yandex.practicum.telemetry: DEBUG
  pattern:
    console: "%msg%n"