spring:
  application:
    name: analyzer

  datasource:
    url: jdbc:postgresql://localhost:5433/hub_router  # ← порт 5433
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

grpc:
  client:
    hub-router:
      address: 'static://localhost:59090'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext

analyzer:
  kafka:
    consumer:
      hub:
        bootstrap-servers: localhost:9092
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: ru.yandex.practicum.deserializer.HubEventDeserializer  # ← из готового проекта
        group-id: events.analyzer
        enable-auto-commit: false
      snapshot:
        bootstrap-servers: localhost:9092
        group-id: snapshot.analyzer
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: ru.yandex.practicum.deserializer.SensorsSnapshotDeserializer  # ← из готового проекта
        enable-auto-commit: false
    topics:
      hub-events: telemetry.hubs.v1
      snapshots-events: telemetry.snapshots.v1