spring:
  application:
    name: analyzer

  datasource:
    url: jdbc:postgresql://localhost:5432/hub_router
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 5

  jpa:
    hibernate:
      ddl-auto: create-drop  # для тестов
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    open-in-view: false

grpc:
  client:
    hub-router:
      address: 'static://localhost:59090'
      enableKeepAlive: true
      keepAliveWithoutCalls: true
      negotiationType: plaintext

analyzer:
  kafka:
    consumer:
      hub:
        bootstrap-server: localhost:9092
        group-id: events.analyzer
        enable-auto-commit: false
        auto-offset-reset: earliest
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer
        time-out: 1000
      snapshot:
        bootstrap-server: localhost:9092
        group-id: snapshot.analyzer
        enable-auto-commit: false
        auto-offset-reset: earliest
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value-deserializer: org.apache.kafka.common.serialization.ByteArrayDeserializer
        time-out: 1000
    topics:
      hub-events: telemetry.hubs.v1
      snapshots-events: telemetry.snapshots.v1

logging:
  level:
    ru.yandex.practicum.telemetry.analyzer: INFO
    ru.yandex.practicum.telemetry.analyzer.processor: INFO
    ru.yandex.practicum.telemetry.analyzer.service: INFO
    ru.yandex.practicum.telemetry.analyzer.handler: INFO
    ru.yandex.practicum.telemetry.analyzer.grpc: INFO
    org.springframework.kafka: WARN
    org.apache.kafka: WARN
    org.hibernate: WARN
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"